body {
    background: url("../../public/brown-background-natural-sand-texture.jpg") no-repeat center center fixed; 
    background-size: cover;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    /* cursor: none; TODO */
}
.video-background {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh; /* Set height to 50% of the viewport */
    object-fit: cover;
    /* opacity: 0.5; */
    z-index: 2;
    /* see 90% if want to reduce */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0)); /* Start fading after 80% */
}

.custom-cursor {
    position: absolute;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    pointer-events: none; /* Ensure the cursor doesn't interfere with other elements */
    transition: left 0.1s ease, top 0.1s ease, transform 0.1s ease; /* Smooth transition */

}
.text-container {
    padding: 15px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h2 {
    color: #764219; /* Sandy brown color for headings */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for text */
}

p {
    color: #5F4B32; /* Darker sandy color for paragraphs */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for text */
}

.heading-container {
position: absolute;
top: 34%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
padding: 20px;
z-index: 1; /* Ensure the heading is above the video */
}

@font-face {
    font-family: 'SansLuis';
    src: url('../../public/sans-luis.ttf') format('truetype');
}

@font-face {
font-family: 'Camar';
src: url('../../public/Camar.otf') format('opentype');
}

.heading-container h1 {
font-family: 'SansLuis';
font-size: 7rem; /* Large font size */
/* white-space: nowrap; */
font-weight: bold; /* Bold text */
color: #f0f0f0; /* DarkTurquoise color for a water theme */
text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Increased shadow for better contrast */
animation: fadeOpacity 1.2s ease-in-out; /* Apply the animation */

}
.tagline {
font-size: 1.5rem;
font-style: italic;
color: #d0d0d0; /* Light khaki color */
margin-top: 0.5rem;
animation: fadeOpacity 1.2s ease-in-out; /* Apply the animation */

}
@keyframes fadeOpacity {
0% {
    opacity: 0.2; /* Fully visible */
}
100% {
    opacity: 0.94; /* Half visible */
}
}


.comment-section {
padding: 20px;
border-radius: 10px;
margin-top: 20px;
/* max-width: 600px; Adjust the width to match the text width */
margin-left: auto;
margin-right: auto;
}
.comment-section h3 {
font-family: 'SansLuis';
color: #8B4513; /* Sand-like color */
}
.comment {
display: flex;
align-items: flex-start;
}
.comment img {
border-radius: 50%;
margin-right: 15px;
}
.comment-text {
background-color: #f8f9fa;
padding: 10px;
border-radius: 5px;
width: 100%;
}

.comment-editor-container {
margin-top: 20px;
padding: 15px;
border: 1px solid #ddd;
border-radius: 5px;
background-color: #f9f9f9;
}

#comment-editor {
width: 100%;
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
resize: vertical;
}

#submit-comment {
background-color: #28a745;
border: none;
color: white;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

#submit-comment:hover {
background-color: #218838;
}
.masked-element {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0)); /* Initial mask */
    transition: mask-image 200s  ; /* Smooth transition */
}

@font-face {
font-family: 'Tahiti Sand';
src: url('../../public/Tahiti Sand.otf') format('opentype');
}
.brain{
        font-family: 'Tahiti Sand';
        font-size: 50px;
        color: transparent;
        text-shadow: 0 0 0 #a16c418a;
        text-align: center;
        z-index: -2;
}

.person-heading {
    font-size: small;
    font-weight: bold;
  }